/*鍏叡閮ㄥ垎*/
.bg_gray{ background: #edf0f0;}
.f36{ font-size: 36px;}
.c_gray{ color: #bbbbbb !important;}
.c_black{ color: #222;}
.ml20{ width: 50%;float: left;text-align: right;font-size: 25px;}
.btn_submit{ height: 88px; line-height: 88px; width: 600px; text-align: center; font-size: 30px; background: #E53037; color: #fff; display: block; margin: 0 auto; border-radius: 10px;}
input[type="submit"],
 input[type="reset"],
 input[type="button"],
 input[type="date"],
 select,
 button {
 -webkit-appearance: none;
 }
 .pop{ position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 10;}
 .zoomer{ height: auto;}
 body{ background: #f2f2f2;}
 
/*浠婃棩绉掓潃*/
.special_banner img{ width: 640px; height: 300px; display: block;}
.special_time{ padding: 20px; background: #fff;}
.special_time h1{
    font-size: 30px;
    color: #444;
    padding-left: 48px;
    background: url(../img/common/time.png) no-repeat left center;
    font-weight: normal;
    height: 35px;
    width: 250px;
    text-align: left;
    line-height: 35px;
}
.special_time .countdown_over a{ background: #e53037; color: #fff; display: block; text-align: center; width: 100%; height: 86px; line-height: 84px; font-size: 30px; border-radius: 10px; letter-spacing: 5px; border: 1px solid #e53037;}
.special_time .countdown_over a.prize{ background: #fff; color: #e53037; border: 1px solid #e53037; margin-top: 30px;}
.special_time h2{ font-size: 30px; color: #444; font-weight: normal; width: 120px; border-bottom: 2px solid #bbb; border-top: 2px solid #bbb; margin: 50px auto 15px; height: 40px; line-height: 38px;}
.countdown_over{ display: none; margin: 30px auto;}
.special_time p{ line-height: 42px; font-size: 30px; color: #222;}
.special_img img{ width: 100%;}
.special_success{ display: none;}
.special_success .centerDiv{ width: 500px; height: 280px; position: fixed; left: 50%; margin-left: -250px; top: 300px; z-index: 20; background: #fff; border-radius: 5px; padding-top: 60px;}
.special_success .centerDiv h1{ font-size: 30px; text-align: center; color: #222;}
.special_success .centerDiv a{width: 420px; height: 88px; text-align: center; line-height: 88px; font-size: 30px; color: #fff; background: #e53037; display: block; margin: 50px auto 0; border-radius: 5px;}

.my_special{ display: none;}
.my_special .centerDiv{ width: 600px; position: fixed; left: 50%; margin-left: -300px; top: 300px; z-index: 20;}
.my_special .centerDiv a.close{ width: 50px; height: 50px; background: url(../img/close.png) no-repeat; background-size: 50px 50px; position: absolute; top: -60px; right: 0;}
.my_special .centerDiv table{ width: 600px; text-align: center;  background: #fff; border-radius: 5px; margin: 0 auto; font-size: 24px;}
.my_special .centerDiv table thead{ color: #999;}
.my_special .centerDiv table tbody tr:nth-child(2n+1){ background: #edf0f0;}
.my_special .centerDiv table td{ height: 70px; line-height: 70px; border-right: 1px solid #f6f5f5; margin-left: -1px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; float: left; width: 150px; padding: 0 10px;}
.my_special .centerDiv table td:last-child{ border-right: none; margin-left: 0;}
.my_special .centerDiv table td a{ width: 100px; text-align: center; height: 40px; line-height: 40px; display: block; color: #fff; background: #e53037; border-radius: 5px; margin: 15px auto;}

	/*鍊掕鏃舵牱寮�/*/
.countdown .time{ text-align: center; margin: 30px auto;}
.countdown{ text-align: center; margin: 30px auto;}
/*.countdown-alt-1 { display: block; font-size: 0;  !* Hack for inline and inline-block extra markup generated spaces *! color: #000;}*/
.countdown-alt-1 .item { position: relative;}
.countdown-alt-1 .dd,
.countdown-alt-1 .hh-1,
.countdown-alt-1 .hh-2,
.countdown-alt-1 .mm-1,
.countdown-alt-1 .mm-2,
.countdown-alt-1 .ss-1,
.countdown-alt-1 .ss-2 { background: #e53037; color: #fff; display: inline-block; font-size: 42px; margin: 0 5px; min-width: 40px; text-align: center;}
.countdown-alt-1 .hh-1,
.countdown-alt-1 .hh-2,
.countdown-alt-1 .mm-1,
.countdown-alt-1 .mm-2,
.countdown-alt-1 .ss-1,
.countdown-alt-1 .ss-2 { width: 50px; max-width: 50px; height: 60px; line-height: 60px;}
.countdown-alt-1 .label { font-style: italic; text-transform: capitalize; background: #F6F6F6; border-radius: 5px; font-size: 12px; margin: 1px 2px; padding: 2px 5px; position: absolute; left: 0; bottom: -44px;}
.countdown-alt-1 .separator-dd,
.countdown-alt-1 .separator { color: #e53037; font-size: 42px; position: relative; width: 30px; display: inline-block; text-align: center; height: 60px; line-height: 60px;}

/*绉垎娲惧厬*/
.exchange{ padding-left: 20px; width: 100%;}
.exchange h1{ font-size: 30px; color: #888; font-weight: normal; height: 40px; line-height: 40px;}
.exchange h1 span{ color: #111;}
.exchange h1 .toExchange{ float: right; width: 120px; height: 40px; border-radius: 5px; background: #e53037; color: #fff; font-size: 24px; display: block; text-align: center; line-height: 40px;}
.goods_list{}
.goods_list li{ width: 600px; height: 220px; background: #fff; margin: 20px 0;}
.goods_list .goods_img{ width: 190px; height: 190px; float: left;margin: 15px 15px;border: solid 1px #d6d0d0;}
.goods_list .goods_img img{ width: 190px; height: 190px; display: block;}
.goods_list .goods_text{  width: calc(100% - 220px); height: 220px; float: left; padding: 20px;}
.goods_list .goods_text h2{ font-size: 30px; color: #222; font-weight: normal; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden; height: 30px; line-height: 30px; margin-bottom: 20px;}
.goods_list .goods_text p{width: 50%; font-size: 24px; color: #e53037; margin-bottom: 25px;float: left;}
.goods_list .goods_text p span{ color: #e53037;}
.goods_list .goods_text a{ display: block; width: 100%;margin-top: 81px; text-align: center; height: 68px; line-height: 68px; font-size: 30px; color: #fff; background: #e53037; border-radius: 10px;}
.goods_list .goods_text a span{ color: #fff;}

.gift{ background: #fff; padding: 30px 20px; margin-bottom: 60px;}
.gift p{ font-size: 30px; color: #222; line-height: 40px; margin-bottom: 20px;}
.gift_text{ border-top: 2px solid #edf0f0; font-size: 30px; height: 60px; padding-top: 20px;}
.gift_text label{ display: block; float: left; width: 100px; height: 40px; line-height: 40px; color: #222;}
.gift_text input{ border: none; display: block; float: left; width: calc(100% - 100px); height: 40px; line-height: 40px; font-size: 30px; outline: none; padding: 0 10px;}

/*閰嶉�璁″垝*/
.order_list{ padding: 20px; overflow: hidden;}
.order_list li{ background: #fff; padding: 20px; overflow: hidden; margin-top: 20px; height: 170px;}
.order_list li:first-child{ margin-top: 0;}
.order_list li p{ font-size: 30px; color: #bbb;}
.order_list li .schedule{ margin-top: 30px;}
.order_list li .schedule label{ float: right; display: block; color: #444; font-size: 30px; line-height: 60px; margin-right: 40px;}
.order_list li .schedule label.finish{ color: #bbb;}
.order_list li .schedule .detail{ width: 200px; text-align: center; height: 60px; line-height: 60px; color: #fff; background: #E53037; border-radius: 10px; display: block; font-size: 30px; float: right;}
.order_list .add{ background: #fff url(../img/common/add.png) no-repeat 20px center; padding: 20px 20px 20px 150px; overflow: hidden; margin-top: 20px; display: block; height: 170px; font-size: 30px; color: #999; line-height: 130px; outline: none;}

.order_form{ overflow: hidden; margin-bottom: 40px;}
.order_form li{ width: 100%; padding: 0 20px; height: 88px; background: #fff; border-bottom: 2px solid #edf0f0; font-size: 30px; color: #222; line-height: 35px; display: table;}
.order_form li label{ display: table-cell; vertical-align:middle; width: 150px;}
.order_form li input{ width: 100%; padding: 0 10px; border: none; font-size: 30px; height: 60px; line-height: 60px; margin-top: 12px; outline: none;}
.order_form li select{ width: 100%; padding: 0 10px; border: none; font-size: 30px; height: 60px; line-height: 60px; margin-top: 12px; outline: none; background: url(../img/common/select.png) no-repeat right center;}
.order_form li input[type="date"]{ background: url(../img/common/time_date.png) no-repeat right center;}

.order_detail li{ width: 100%; padding: 0 20px; height: 68px; background: #fff;  font-size: 30px; color: #222; line-height: 68px;}
.order_detail li label{ color: #bbb; width: 200px; display: block; float: left;}
.order_detail li span{ display: block;float: left; width: calc(100% - 200px); text-align: right; font-size: 30px; line-height: 68px;}
.order_detail h1{ height: 50px; line-height: 50px; color: #222; font-size: 30px; font-weight: normal; padding: 0 20px;}
.more_detail{ background: #fff url(../img/common/toggle.png) no-repeat 98% center; text-align: right; display: block; height: 50px; line-height: 50px; color: #e53037; font-size: 24px; padding: 0 40px 0 20px;}
.more_detail.open{ background: #fff url(../img/common/toggle2.png) no-repeat 98% center;}
.order_detail.hide{ display: none;}

.order_operate{ margin-top: 40px; padding: 10px;}
.order_operate .change{ width: 290px; text-align: center; height: 88px; line-height: 84px; border: 2px solid #e53037; border-radius: 5px; overflow: hidden; font-size: 30px; margin:0 10px; display: block; background: #e53037; color: #fff; float: left;}
.order_operate .cancel{ width: 290px; text-align: center; height: 88px; line-height: 84px; border: 2px solid #e53037; border-radius: 5px; overflow: hidden; font-size: 30px; margin:0 10px; display: block; background: none; color: #e53037; float: left;}
.order_operate p{ font-size: 24px; color: #222; clear: both; padding: 20px 10px;}

/*我的信息*/
.user li{ width: 100%; height: 88px; line-height: 88px; background: #fff url(../img/right.jpg) no-repeat 97% center; font-size: 30px;  padding: 0 20px;}
.user li.no{ background: #fff;}
.user li.phone{ background: #fff url(../img/phone.png) no-repeat 96% center;}
.user li a{ display: block;}
.user li label{ width: 200px; float: left; display: block; color: #222; padding-left: 60px;}
.user li p{ width: calc(100% - 250px); float: left; display: block; height: 88px; line-height: 88px; font-size: 30px; color: #777; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: right;}
.user li p span{ display: block; height: 88px; line-height: 88px; font-size: 30px; color: #222;}
.user li.phone span.floatR{ color: #e53037; margin-left: 10px;}
.user li:nth-child(1) label{ background: url(../img/user1.png) no-repeat left center;}
.user li:nth-child(2) label{ background: url(../img/user2.png) no-repeat left center;}
.user li:nth-child(3) label{ background: url(../img/user3.png) no-repeat left center;}
.user li:nth-child(4) label{ background: url(../img/user4.png) no-repeat left center;}
.user li:nth-child(5) label{ background: url(../img/user5.png) no-repeat left center;}
.user li:nth-child(6) label{ background: url(../img/user6.png) no-repeat left center;}
.user li:nth-child(7) label{ background: url(../img/user7.png) no-repeat left center;}


/*积分详情*/
.integral_detail{ padding: 20px;}
.integral_detail h1{ color: #777; font-size: 30px;}
.integral_detail h1 span{ font-size: 30px; color: #111;}
.integral_detail ul{ margin-top: 20px;}
.integral_detail ul li{ width: 100%; display: table; font-size: 30px; min-height: 90px; background: #fff; margin-bottom: 20px;}
.integral_detail ul li label{ background: #fff url(../img/integral_li2.jpg) repeat-y left; width: 165px; display: table-cell; color: #fff; font-size: 36px; min-height: 90px; vertical-align:middle; padding: 0 10px;}
.integral_detail ul li.add label{ background: #fff url(../img/integral_li1.jpg) repeat-y left;}
.integral_detail ul li p{ display: table-cell; vertical-align: middle; width: 290px; padding: 25px 10px; font-size: 30px; color: #222; line-height: 36px;}
.integral_detail ul li span{ display: table-cell; vertical-align: middle; width: calc(100% - 455px); font-size: 24px; color: #bbb;}

/*个人爱好*/
.hobby{ padding: 20px;}
.hobby h1{ font-size: 30px; color: #777;}
.hobby ul{ overflow: hidden; margin: 25px -10px 80px;}
.hobby li{ display: block; float: left; height: 50px; line-height: 48px; padding: 0 30px; font-size: 30px; color: #e53037; border: 1px solid #e53037; border-radius: 30px; margin:0 9px 20px;}
.hobby li.cur{ background: #e53037; color: #fff;}
.hobby a.btn{ height: 70px; width: 280px; text-align: center; line-height: 68px; border: 1px solid #e53037; color: #e53037; display: block; float: left; font-size: 30px; margin: 0 10px; border-radius: 5px;}
.hobby a.like{ background: #e53037; color: #fff;}
.hobby .time{width: 300px; border: none; outline: none; padding: 0 10px; font-size: 14px; background: url(../img/date.png) no-repeat right center; position: relative; display: block; height:42px; margin: 30px 0; font-size: 28px;}
